.Onboarding {
    text-align: center;
  }

  
  .Onboarding-header {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .Onboarding__btn {
    padding: 10px;
    margin-bottom: 10px;
    color:white;
    background-color: transparent;
    border: none;
    border-radius: 0.4rem;
    box-shadow: rgba(255, 255, 255, 0.1) 0 2px 4px 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 0.6rem 1.5rem;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: relative;
    background: radial-gradient(circle farthest-side at 10% 10%, rgb(242, 106, 97) 0%, rgb(159, 35, 101) 100%);
    border: 2px none rgb(0, 168, 150);
  
  }